@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");

body {
  font-family: "Orbitron", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-10%, -5%) scale(1.05);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes glowmove {
  0% {
    transform: translate(0, 0);
    opacity: 0.8;
  }
  50% {
    transform: translate(5%, -5%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.8;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
}

@keyframes pulseSides {
  0%,
  100% {
    opacity: 0.2;
    transform: scaleX(1);
  }
  50% {
    opacity: 0.7;
    transform: scaleX(1.05);
  }
}

.bg-pulse {
  background: radial-gradient(
      circle at left,
      rgba(66, 133, 244, 0.2),
      transparent 70%
    ),
    radial-gradient(circle at right, rgba(234, 67, 53, 0.2), transparent 70%);
  animation: pulseSides 4s ease-in-out infinite;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: #000;
}

@keyframes shine {
  0% {
    opacity: 0.4;
    transform: translateX(-20%);
  }
  50% {
    opacity: 1;
    transform: translateX(20%);
  }
  100% {
    opacity: 0.4;
    transform: translateX(-20%);
  }
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 25px rgba(0, 255, 255, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.4));
  }
}

@keyframes sectionFade {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowPulse {
  0% {
    filter: drop-shadow(0 0 4px currentColor);
  }
  50% {
    filter: drop-shadow(0 0 12px currentColor);
  }
  100% {
    filter: drop-shadow(0 0 4px currentColor);
  }
}

.animate-glow {
  animation: glowPulse 2s infinite ease-in-out;
}
